# Claude Code local settings
.claude/
.codex/
.entire/
.antigravitycli/

# OS files
.DS_Store
Thumbs.db

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
